<label style="margin-right: 10px;" for="">
    입장할 이름
</label>
<input id="name" style="width: 200px; height:32px" type="text">
<button onclick="enter()" class="custom-btn btn-12"><span>자! 드가자!</span><span>입장</span></button>